<div class="jumbotron text-center">
    <h1>Editing <%= event.name %></h1>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <% if (errors.length > 0) { %>
            <div class="alert alert-danger">
                <% for (error of errors) { %>
                    <%= error %><br>
                <% } %>
            </div>
        <% } %>
        <form action="/events/<%= event.slug %>" method="POST">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" name="name" class="form-control" value="<% event.name %>" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<% event.email %>" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="">Message</label>
                <textarea name="description" class="form-control" rows="5" value="<% event.description %> placeholder="Sign our guest book with your message..."></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg">Update</button>
            </div>
        </form>
    </div>
</div>