<div class="jumbotron text-center">
    <h1>Guestbook List</h1>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Guest Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <% for (var event of events) { %>
            <tr>
                <td><%= event.name %></td>
                <td><%= event.email %></td>
                <td><%= event.description %></td>
                <td>
                    <a href="/events/<%= event.slug %>" class="btn btn-sm btn-primary">View</a>

                </td>
            </tr>

        <% } %>
    </tbody>
</table>