<div class="jumbotron text-center">
    <h1>GuestBook</h1>
    <h4>Become part of the largest guest book in the Universe...</h4>

    <a href="/events" class="btn btn-lg btn-danger">View List </a>
    <a href="/events/create" class="btn btn-lg btn-primary">Sign Book</a>
</div>